*{
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
}


.header{
    width: 100%;
    height: 70px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
}

.left{
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 30px;
}
* a{
    text-decoration:none;
    color: black;
}
.middle{
    width: 40%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    font-size: 20px;
}
.middle :hover{
    font-size: 30px;
    transition: 1s;
    text-decoration: underline;
    color: orangered;
}
.right{
    width: 20%;
    display: flex;
    padding: 10px;    
}
.right button{
    border:none;
    color: white;
    background-color: orangered;
    width: 100px;
    height: 40px;
    font-size: 20px;
}



#home{
    width: 100%;
    height: 850px;
    background-color:rgb(194, 191, 203);
    display: flex;
}

@media screen and (max-width:768px) {
    #home{
        height: 1000px;
        width: 300%;
    }
    #home .left{
        display: flex;
    }
    
}

#home .left{
    display: block;
    width: 40%;
    height: 80%;
    padding: 100px;
}
#home .left h1{
    font-size: 80px;
    padding-top: 150px;

}
#home .left h2{
    padding-top: 40px;
    font-size: 40px;
    font-weight: 30;

}

#home .left button{
    border:none;
    color: white;
    background-color: orangered;
    width: 100px;
    height: 40px;
    font-size: 20px;
}
#home .right{
    width: 60%;
    padding: 30px;
}
#home .right img{
    padding-top: 200px;
    padding-left: 50px;
    animation: float;
    animation-duration: 5s;
    animation-iteration-count: 200;
}

@keyframes float{
    0%{
        margin-top: 0;
    }
    50%{
        margin-top: 50px;
    }
    100%{
        margin-top: 0;
    }
}







#about{
    width: 100%;
    height: 1700px;
    background-color: white;
    text-align: center;
}
@media screen and (max-width:768px) {
    #about{
        width: 300%;
    }
    #about .box .right img{
        width: 200px;
        height: 200px;
    }
    
}
#about h2{
    font-weight: 70;
    color: gainsboro;
}
#about h1{
    font-weight: 90;
    color: orangered;
}
#about .box{
    display: flex;
}
#about .left{
    width: 50%;
    margin-left: 100px;
    margin-top: 80px;
    display: block;
}
#about .left img{
    width: 100%;
}
#about .left h1{
    font-size: 40px;
    font-weight: 70;
    border: solid 3px black;
    border-width: 80%;;
}
#about .right{
    text-align: start;
    width: 30%;
    margin-left: 60px;
    margin-top: 80px;
    display: block;
    padding: 20px;
}
#about .right h6{
    font-size: 20px;
    color: rgb(220, 206, 206);
}
#about .right p{
    padding-top: 10px;
    font-size: 20px;
}
#about .right h5{
    padding: 10px;
    font-size: 20px;

}
#about .right i{
    color: orangered;
    padding-right: 10px;
}

  #about .right img{
    width: 100%;
    height: 50%;
}

#about .down{
    width: 100%;
    height: 25%;
    display: flex;
    background-color:rgb(194, 191, 203);
}
#about .down .col0{
    width: 25%;
    height: 80%;
    background-color: orangered;
    margin: 20px;
    margin-top: 45px;
    margin-left: 50px;
    color: white;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#about .down .col0 h2{
    padding-top: 15px;
    font-weight: 80;
}

#about .down .col0 p{
    text-align: left;
    padding: 20px;
    font-size: 20px;
    font-weight: 60;
}
#about .down .col0 button{
    border:none;
    color: white;
    background-color: rgba(219, 164, 144, 0.738);
    width: 150px;
    height: 60px;
    font-size: 20px;
}


#about .down .col1{
    width: 20%;
    height: 80%;
    margin: 20px;
    margin-top: 45px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#about .down .col1 i{
    font-size: 35px;
    margin: 40px;
    text-align: center;
    border: 0 ;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(216, 181, 168, 0.258);
    color: rgba(255, 68, 0, 0.749);
}

#about .down .col1 i:hover{
    background-color: orangered;
    color: white;
}


#about .down .col1 h3{
    font-size: 25px;
    font-weight: 70;
    margin: 10px;
}
#about .down .col1 p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 50;
    margin: 10px;
}
#about .down2 {
    background-color: rgba(219, 164, 144, 0.436);
    height: 25%;
    width: 100%;
    display: flex;
}
#about .down2 .col{
    margin: auto;
}
#about .down2 .col h1{
    font-size: 60px;
}
#about .down2 .col p{
    font-size: 20px;
}

#menu{
    width: 100%;
    height: 1300px;
    text-align: center;
    background-color: white;
}

@media screen and (max-width:768px) {
    #menu{
        width: 300%;
    }
}


#menu h6{
    font-size:  20px;
    font-weight: 70;
    color: gainsboro;
    padding: 50px;
    padding-bottom: 20px;
}
#menu h1{
    font-size: 40px;
    font-weight: 90;
    color: orangered;
    padding-bottom: 30px;
}
#menu nav{
    display: flex;
    justify-content: center;
    background-color:rgb(194, 191, 203);

}
#menu nav a{
    margin: 20px;
    font-size: 25px;
    font-weight: 60;
    text-decoration: underline  gainsboro;
    color: white;
    
}

#menu nav a:hover{
    text-decoration: underline      ;
    color: orangered;
    transition: 1s;
}

#menu #starters{
    width: 100%;
    height: 50%;
    background-color:rgb(194, 191, 203);

}
#menu #starters h6{
    padding-top:20px ;
}

#menu #breakfast{
    width: 100%;
    height: 50%;
    display: none;
    background-color:rgb(194, 191, 203);


}
#menu #breakfast h6{
    padding-top:20px ;
}
#menu #lunch{
    width: 100%;
    height: 50%;
    display: none;
    background-color:rgb(194, 191, 203);

}
#menu #lunch h6{
    padding-top:20px ;
}
#menu #dinner{
    width: 100%;
    height: 50%;
    display: none;
    background-color:rgb(194, 191, 203);

}
#menu #dinner h6{
    padding-top:20px ;
}
#menu .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
#menu .container .col{
    width: 450px;
    height: 450px;
    border: none;
    flex-basis: 30%;
}
#menu .container .col h1{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 70;
}
#menu .container .col h6{
    margin: 0;
    padding: 0;
}

#reviews{
    width: 100%;
    height: 500px;
    background-color:white;
    text-align: center
}

@media screen and (max-width:768px) {
    #reviews{
        width: 300%;
    }
}

#reviews h6{
    font-size:  20px;
    font-weight: 70;
    color: gainsboro;
    padding-bottom: 20px;
}
#reviews h1{
    font-size: 40px;
    font-weight: 90;
    color: orangered;
    padding-bottom: 30px;
}

#reviews .box{
    height: 50%;
    width: 65%;
    background-color:rgb(194, 191, 203);
    margin: auto;
    display: flex;
    text-align: start;
}

#reviews .box i{
    font-size: 30px;
    color: rgb(218, 122, 88);
}

#reviews .box .left{
    width: 70%;
    height: 100%;
    margin: auto;
    display: block;
}
#reviews .box .left h6{
    margin: 30px;
    color: black;
    font-size: 20px;
    font-weight: 40;
    margin-bottom: 10px;
}
#reviews .box .left h5{
    font-weight: 60;
    margin: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#reviews .box .left h4 i{
    
    color: rgb(222, 152, 66);
    

}


#reviews .box .right img{
    border-radius: 50%;
    margin: auto;

}

#reviews .two{
    display: none;
}

#reviews .three{
    display: none;
}
#reviews .four{
    display: none;
}
#reviews h5{
    color: orangered;
    padding: 5px;

}

#reviews h5 i{
padding: 3px;
}

#chefs{
    height: 850px;
    width: 100%;
    background-color:rgb(194, 191, 203);
    text-align: center;
} 

@media screen and (max-width:768px) {
    #chefs{
        width: 300%;
    }
}

#chefs h6{
    font-size:  20px;
    font-weight: 70;
    color: gainsboro;
    padding-bottom: 20px;
    padding-top: 20px;
}
#chefs h1{
    font-size: 40px;
    font-weight: 90;
    color: orangered;
}
#chefs .box{
    display: flex;
    margin: 50px;
}
#chefs .col{
    flex-basis: 30%;
    height: 80%;
    width: 50%;
    background-color: white;
    margin: 20px;
    border-radius: 3%;
}

#chefs .col:hover{
    transform: scale(1.1,1.1);
    transition: .5s;
}


#chefs .col img{
    height: 70%;
    width: 100%;
    border-radius: 3%;
}
#chefs .col h2{
    font-size: 30px;
    font-weight: 70;
}

#chefs .col h6{
    font-size: 20px;
    font-weight: 40;
    padding: 0;
}

#chefs .col p{
    font-size: 15px;
    width: 90%;
    padding: 20px;
}

#table{
    width: 100%;
    height: 650px;
    text-align: center;
}

@media screen and (max-width:768px) {
    #table{
        width: 300%;
    }
}

#table h6{
    font-size:  20px;
    font-weight: 70;
    color: gainsboro;
    padding-bottom: 20px;
    padding-top: 20px;
}
#table h1{
    font-size: 40px;
    font-weight: 90;
    color: orangered;
}
#table .box{
    display: flex;
    background-color:rgb(194, 191, 203);

}

#table .left{
    width: 25%;
    height: 50%;
    margin: auto;
}
#table .left img{
    width: 100%;
    height: 100%;
} 

#table .right{
    width: 50%;
    height: 50%;
    display: flex;

}

#table .right2{
    width: 50%;
    height: 50%;
    margin: auto;
    display: none;
    text-align: start;

}
#table .right2 p{
    color: gainsboro;
    font-size: 25px;
    
    padding: 30px;
    padding-left: 0;
}
#table .right2 h2{
    color: orangered;
    font-size: 30px;
    font-weight: 60;
    padding: 30px;
    padding-left: 0;
}

#table .right2 button{
    border:none;
    color: white;
    background-color: orangered;
    width: 100px;
    height: 40px;
    font-size: 20px;
}

#table .right #name{
    width: 250px;
    height: 40px;
    margin:  20px;
    font-size: 20px;
}
#table .right #email{
    width: 250px;
    height: 40px;
    margin:  20px;
    font-size: 20px;
}
#table .right #phone{
    width: 250px;
    height: 40px;
    margin:  20px;
    font-size: 20px;

}
#table .right #date{
    width: 250px;
    height: 40px;
    margin:  20px;
    font-size: 20px;
}
#table .right #time{
    width: 250px;
    height: 40px;
    margin:  20px;
    font-size: 20px;
}
#table .right #people{
    width: 250px;
    height: 40px;
    margin:  20px;
    font-size: 20px;
}
#table .right #message{
    width: 550px;
    height: 150px;
    margin:  20px;
    font-size: 20px;
    text-align: start;

}

#contact{
    height: 900px;
    width: 100%;
    text-align: center;
    background-color:rgb(237, 236, 239);

}

@media screen and (max-width:768px) {
    #contact{
        width: 300%;
    }
}

#contact h6{
    font-size:  20px;
    font-weight: 70;
    color: gainsboro;
    padding-bottom: 10px;
}
#contact h1{
    font-size: 40px;
    font-weight: 90;
    color: orangered;
    margin-bottom: 20px;
}
#contact .box1{
    width: 80%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;
}
#contact .box1 .col{
    display: flex;
    margin: 100px;
    width: 40%;
    height: 40%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;    margin: auto;
    background-color: white;
}
#contact .box1 .col .left{
    margin: auto;
    
}
#contact .box1 .col .left i{
    margin-left: 30px;
    color: orangered    ;
}


#contact .box1 .col .right{
    text-align: left;
    width: 70%;
    display: block;
}
#contact .box1 .col .right h3{
    font-size: 30px;
    color: orangered;
}

#contact .box1 .col .right h6{
    padding: 0;
    font-weight: 60;
    color: rgb(40, 38, 38);

}

#contact .box2{
    width: 80%;
    height: 40%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;    margin: auto;
    background-color:white;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

#contact .box2 form{
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 30px;
}

#contact .box2 form #con-name{
    width: 45%;
    height: 15%;
    margin: 10px;
    font-size: 20px;

}

#contact .box2 form #con-email{
    width: 45%;
    height: 15%;
    margin: 10px;
    font-size: 20px;

}
#contact .box2 form #con-subject{
    width: 93%;
    height: 15%;
    margin: 10px;
    font-size: 20px;

}

#contact .box2 form #con-message{
    width: 93%;
    height: 40%;
    margin: 10px;
    font-size: 20px;

}
#contact .box2 form button{
    border:none;
    color: white;
    background-color: orangered;
    width: 100px;
    height: 40px;
    font-size: 20px;
}


#contact .box3{
    width: 100%;
    height: 30%;
    background-color: rgba(43, 42, 46, 0.866);
    margin: auto;
}

#contact .box3 .top{
    width: 80%;
    height: 50%;
    display: flex;
    margin: auto;
}
#contact .box3 .top .col{
    width: 20%;
    height: 100%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#contact .box3 .top .col i{
    font-size: 35px;
    padding: 10px;
    color: orangered;
}
#contact .box3 .top .col h3{
    font-size: 25px;
    color: rgb(237, 236, 239);
    font-weight: 60;
}

#contact .box3 .top .col h6{
font-size: 15px;
font-weight: 50;
}

#contact .box3 .bottom{
    height: 20%;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border-top: 2px solid red;

}


#contact .box3 .bottom footer{
    padding: 10px;
}

.up{
    margin: 50px;
    text-align: end;
    position: sticky;
    bottom: 50px;
    right: 50px;
}
.up a{
    font-size: 40px;
    color: orangered;
}


@media screen and (max-width:768px) {


    
}
    



